<div id="video-wrapper" >
	<%= render :partial => "video" %>
</div> <!-- end of video-wrapper -->

<div id="creator" class="clearfix">
	<div id="audio">
		<h3> Audio Team</h3>
		<p class="profile clearfix">
			<a href="http://www.facebook.com/profile.php?id=564513175" class="name">Nico Theodorus</a>
			
		
				<a href="http://www.facebook.com/profile.php?id=564513175" class="pic-band-wrapper">
					<img src="/images/nico.jpg" />
				</a>
				<cite>
					Nico Theodorus has music written all over him. He created the instrumental guitar piece for PART TO MEET in only 15 minutes after Danny asked him to create a instrumental piece for the short film.
				</cite>

		
		</p>
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/yap.sarah" class="name">Sarah Yap</a>
			<a href="http://www.facebook.com/yap.sarah" class="pic-band-wrapper">
				<img src="/images/sarah-yap.jpg" />
			</a>
			<cite>
				Sarah Yap's passion for music is second to none. Being active in the local music scenes, she achieved one of her successes as the vocalist of the band, Sixology, where she received many local awards.
			</cite>
		</p>
		
	</div>
	
	
	
	<div id="video">
		<h3>Video Team : <span class="videoteam">UmaretaFilm</span></h3>
		
		<p class="profile">
			<a href="http://www.facebook.com/umareta" class="name">Danny Widodo</a>
			<a href="http://www.facebook.com/umareta" class="pic-video-wrapper">
				<img src="/images/dani.jpg" />
			</a>
			
			<cite>
				UMARETA FILM is headed by Danny Widodo all by himself, with the help and collaboration of many friends, mostly from NUS and Eusoff Hall, who support his ideas and to turn them into moving images.
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/profile.php?id=636964133" class="name">Sarah Tan</a>
			<a href="http://www.facebook.com/profile.php?id=636964133" class="pic-video-wrapper">
				<img src="/images/sarah-tan.jpg" />
			</a>
			
			<cite>
				Sarah Tan is currently a 2nd year Real Estate major in NUS. With no acting background and PART TO MEET as her first ever short film where she played the main role, she was able to pull of the emotion Danny asked her to show in the short film.
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/profile.php?id=608417107" class="name">Cho Myung Sik</a>
			<a href="http://www.facebook.com/profile.php?id=608417107" class="pic-video-wrapper">
				<img src="/images/cho.jpg" />
			</a>
			
			<cite>
				Cho Myung Sik is currently a 2nd year Economics major in NUS. Despite being a Korean and lived in Jakarta for 13 years, he has little interest in doing drama, and prefers to do action films.
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/profile.php?id=710686740" class="name">Xavier Tong</a>
			<a href="http://www.facebook.com/profile.php?id=710686740" class="pic-video-wrapper">
				<img src="/images/xavier.jpg" />
			</a>
			
			<cite>
				Xavier Tong is currently a 2nd year Political Science major in NUS. A big "drama-queen" for a guy his size, he has been active in the drama scenes for almost all of his life.
			</cite>
		</p>
		
		
	</div>
</div>

 <fb:comments style="margin-left:150px;"></fb:comments>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: 'your app id', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>